@model IEnumerable<Register_and_login.Models.register1>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.studntfname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studentlname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studentdept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stumobilenumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.studntfname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studentlname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studentdept)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stumobilenumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.studentid }) |
            @Html.ActionLink("Details", "Details", new { id=item.studentid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.studentid })
        </td>
    </tr>
}

</table>
